// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2025 Adapted for LEMFO HK1 RBOX K8S
 *
 * Based on Radxa Rock 2F
 */

/dts-v1/;

#include <dt-bindings/clock/rk3528-cru.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include "rk3528.dtsi"
#include "rk3528-linux.dtsi"

/ {
	model = "LEMFO HK1 RBOX K8S";
	compatible = "lemfo,hk1-k8s", "rockchip,rk3528";

	/delete-node/ chosen;

	aliases {
		mmc0 = &sdhci;  /* eMMC */
		mmc1 = &sdmmc;  /* SD card */
		mmc2 = &sdio1;  /* SDIO WiFi - RTL8822CS at ffc20000 */
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vdd_0v9_s3: vdd-0v9-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_0v9_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_3v3_s3: vcc-3v3-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vdd_1v8_s3: vdd-1v8-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_1v8_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_3v3_s3>;
	};

	vcc_ddr_s3: vcc-ddr-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_ddr_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		vin-supply = <&vcc5v0_sys>;
	};

	/* RTL8822CS WiFi/BT power sequence - SDIO ID: C8A1:0082 */
	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&clkm0_32k_out>;  /* 32kHz clock for WiFi - Android verified */
		post-power-on-delay-ms = <100>;
		power-off-delay-us = <500000>;
		reset-gpios = <&gpio3 12 GPIO_ACTIVE_HIGH>; /* GPIO3 pin 12 - WiFi reset - Android verified */
	};

	/* RTL8822CS Bluetooth */
	wireless_bluetooth: wireless-bluetooth {
		compatible = "bluetooth-platdata";
		pinctrl-names = "default";
		pinctrl-0 = <&bt_pins>; /* GPIO pins for reset/wake */
		/* NOTE: uart_rts_gpios removed - UART2 driver manages RTS pin exclusively
		   Bluetooth driver does NOT need to control RTS state transitions */
		BT,reset_gpio = <&gpio3 RK_PD2 GPIO_ACTIVE_HIGH>; /* GPIO3_D2 (GPIO 114) - Android verified */
		BT,wake_host_irq = <&gpio3 RK_PD1 GPIO_ACTIVE_HIGH>; /* GPIO3_D1 (GPIO 113) - Android verified */
		/* UART interface for Bluetooth */
		uart_port_id = <2>; /* Use UART2 */
		status = "okay";
	};

	/* RTL8822CS WiFi platform data */
	wireless_wlan: wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		wifi_chip_type = "rtl8822cs";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_pins>;
		/* Clock references - WiFi driver expects ref_wifi_clk */
		clocks = <&cru CCLK_SRC_SDIO1>, <&cru HCLK_SDIO1>;
		clock-names = "ref_wifi_clk", "iface_clk";
		WIFI,host_wake_irq = <&gpio3 RK_PB3 GPIO_ACTIVE_HIGH>; /* GPIO3_PB3 */
		WIFI,poweren_gpio = <&gpio3 10 GPIO_ACTIVE_HIGH>; /* GPIO3 pin 10 - WiFi power enable - Android verified */
		status = "okay";
	};

	/* USB Host power */
	vcc5v0_host: vcc5v0-host-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio0 RK_PA1 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_sys>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_en>;
	};

	vcc5v0_otg: vcc5v0-otg-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_otg";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc5v0_sys>;
	};

	/* FD628 LED Display Controller */
	fd628_dev: fd628-dev {
		compatible = "amlogic,fd628_dev";
		fd628_gpio_clk = <&gpio4 RK_PA3 GPIO_ACTIVE_HIGH>;
		fd628_gpio_dat = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	/* GPU and Logic voltage - PWM controlled */
	vdd_gpu: vdd_logic: vdd-logic {
		compatible = "pwm-regulator";
		pwms = <&pwm2 0 5000 1>;
		regulator-name = "vdd_logic";
		regulator-min-microvolt = <705000>;
		regulator-max-microvolt = <1006000>;
		regulator-init-microvolt = <900000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-settling-time-up-us = <250>;
		pwm-supply = <&vcc5v0_sys>;
		status = "okay";
	};

	/* CPU voltage - PWM controlled */
	vdd_cpu: vdd-cpu {
		compatible = "pwm-regulator";
		pwms = <&pwm1 0 5000 1>;
		regulator-name = "vdd_cpu";
		regulator-min-microvolt = <746000>;
		regulator-max-microvolt = <1201000>;
		regulator-init-microvolt = <953000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-settling-time-up-us = <250>;
		pwm-supply = <&vcc5v0_sys>;
		status = "okay";
	};

	/* Audio Codec Sound - analog audio output (3.5mm jack) - DISABLED: no 3.5mm jack */
	acodec_sound: acodec-sound {
		status = "disabled";
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "rk3528-acodec";
		simple-audio-card,cpu {
			sound-dai = <&sai1>;
		};
		simple-audio-card,codec {
			sound-dai = <&acodec>;
		};
	};

	/* HDMI Sound */
	hdmi_sound: hdmi-sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <128>;
		simple-audio-card,name = "rockchip-hdmi0";
		simple-audio-card,cpu {
			sound-dai = <&sai3>;
		};
		simple-audio-card,codec {
			sound-dai = <&hdmi>;
		};
	};

	/* Front Panel LEDs - 7-segment display control */
	gpio_leds: gpio-leds {
		compatible = "gpio-leds";

		pwr-red {
			gpios = <&gpio4 RK_PB3 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
			default-state = "off";
			retain-state-suspended;
			retain-state-shutdown;
		};

		pwr-green {
			gpios = <&gpio4 RK_PB5 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
			default-state = "on";
			retain-state-suspended;
			retain-state-shutdown;
		};
	};

	/* IR Receiver */
	ir-receiver {
		compatible = "gpio-ir-receiver";
		gpios = <&gpio4 RK_PB4 GPIO_ACTIVE_LOW>;
		linux,rc-map-name = "rc-beelink-gs1";
	};

};

&pwm1 {
	status = "okay";
};

&pwm2 {
	status = "okay";
};

/* PWM3 - not used for IR receiver anymore */
&pwm3 {
	status = "disabled";
};

&cpu0 {
	cpu-supply = <&vdd_cpu>;
};

&crypto {
	status = "okay";
};

&dfi {
	status = "okay";
};

&dmc {
	center-supply = <&vdd_logic>;
	status = "okay";
};

&gpu {
	mali-supply = <&vdd_gpu>;
	status = "okay";
};

&gpu_bus {
	bus-supply = <&vdd_logic>;
	/* OPP table requires pvtm regulator which is not available - remove to avoid warnings */
	status = "okay";
};

&display_subsystem {
	status = "okay";
};

&hdmi {
	status = "okay";
	/* Android configuration - CEC and proper DDC timing for EDID */
	cec-enable;
	ddc-i2c-scl-high-time-ns = <9625>;
	ddc-i2c-scl-low-time-ns = <10000>;
	/* HDMI power supplies - critical for display output */
	avdd-0v9-supply = <&vdd_0v9_s3>;
	avdd-1v8-supply = <&vdd_1v8_s3>;
	/* HDMI Hot Plug Detect GPIO - required for monitor detection */
	hpd-gpios = <&gpio0 RK_PA2 GPIO_ACTIVE_LOW>;
	/* HDMI pinctrl for DDC and CEC */
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&hdmi_pins>;
	pinctrl-1 = <&hdmi_pins_idle>;
};

&hdmi_in_vp0 {
	status = "okay";
};

&hdmiphy {
	status = "okay";
	/* HDMI PHY power supply - required for HDMI output */
	phy-supply = <&vcc5v0_host>;
};

&tve {
	status = "disabled";
};

&tve_in_vp1 {
	status = "disabled";
};

&iep {
	status = "okay";
};

&iep_mmu {
	status = "okay";
};

&jpegd {
	status = "okay";
};

&jpegd_mmu {
	status = "okay";
};

&mpp_srv {
	status = "okay";
};

&rga2 {
	status = "okay";
};

&rga2_mmu {
	status = "okay";
};

&rkvdec {
	status = "okay";
};

&rkvdec_mmu {
	status = "okay";
};

&rkvenc {
	status = "okay";
};

&rkvenc_mmu {
	status = "okay";
};

&rkvtunnel {
	status = "okay";
};

&rockchip_suspend {
	status = "okay";
	rockchip,sleep-debug-en = <1>;
	rockchip,virtual-poweroff = <1>;
	rockchip,sleep-mode-config = <
		(0
		| RKPM_SLP_ARMPD
		)
	>;
	rockchip,wakeup-config = <
		(0
		| RKPM_CPU0_WKUP_EN
		| RKPM_GPIO_WKUP_EN
		)
	>;
	rockchip,pwm-regulator-config = <
		(0
		| RKPM_PWM0_M0_REGULATOR_EN
		| RKPM_PWM1_M0_REGULATOR_EN
		)
	>;
};

&vdpp {
	status = "okay";
};

&vdpu {
	status = "okay";
};

&vdpu_mmu {
	status = "okay";
};

&vop {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&tsadc {
	status = "okay";
};

&saradc {
	status = "okay";
	vref-supply = <&vdd_1v8_s3>;
};

/* Audio Codec - internal analog codec - DISABLED: no 3.5mm jack */
&acodec {
	status = "disabled";
	#sound-dai-cells = <0>;
};

/* I2S Audio Interface for acodec - DISABLED: no 3.5mm jack */
&sai1 {
	status = "disabled";
	#sound-dai-cells = <0>;
};

/* I2S Audio Interface for HDMI */
&sai3 {
	status = "okay";
	#sound-dai-cells = <0>;
};

/* SD Card - following Android DTB configuration */
&sdmmc {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	max-frequency = <150000000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&sdmmc_clk &sdmmc_cmd &sdmmc_bus4>;
	pinctrl-1 = <&sdmmc_clk &sdmmc_cmd &sdmmc_bus4>;
	supports-sd;
	card-detect-delay = <500>;
	vmmc-supply = <&vcc_3v3_s3>;
	status = "okay";
};

/* eMMC */
&sdhci {
	bus-width = <8>;
	no-sd;
	no-sdio;
	non-removable;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	max-frequency = <200000000>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&emmc_bus8 &emmc_clk &emmc_cmd &emmc_strb>;
	pinctrl-1 = <&emmc_bus8 &emmc_clk &emmc_cmd &emmc_strb>;
	vmmc-supply = <&vcc_3v3_s3>;
	vqmmc-supply = <&vdd_1v8_s3>;
	status = "okay";
};

/* SDIO0 - not used, disable it */
&sdio0 {
	status = "disabled";
};

/* RTL8822CS WiFi + BT on SDIO1 (ffc20000) - SDIO_ID: C8A1:0082 */
&sdio1 {
	bus-width = <4>;
	cap-sd-highspeed;
	cap-sdio-irq;
	disable-wp;
	keep-power-in-suspend;
	/* Reduced from 150MHz to 100MHz for stable initialization */
	max-frequency = <100000000>;
	mmc-pwrseq = <&sdio_pwrseq>;
	no-sd;
	no-mmc;
	non-removable;
	supports-sdio;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	/* Disable UHS modes that may cause tuning issues - use basic HS only */
	/*sd-uhs-ddr50;
	sd-uhs-sdr104;*/
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&sdio1_bus4 &sdio1_cmd &sdio1_clk>;
	pinctrl-1 = <&sdio1_bus4 &sdio1_cmd &sdio1_clk>;
	/* Clock configuration for SDIO1 WiFi interface - required for WiFi chip initialization */
	clocks = <&cru HCLK_SDIO1>, <&cru CCLK_SRC_SDIO1>, <&grf_cru SCLK_SDIO1_DRV>, <&grf_cru SCLK_SDIO1_SAMPLE>;
	clock-names = "biu", "ciu", "ciu-drive", "ciu-sample";
	post-power-on-delay-ms = <100>;
	status = "okay";
};

&u2phy_host {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&u2phy_otg {
	vbus-supply = <&vcc5v0_otg>;
	status = "okay";
};

&usb2phy {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usbdrd30 {
	status = "okay";
};

&usbdrd_dwc3 {
	dr_mode = "host";
	extcon = <&usb2phy>;
	phys = <&u2phy_otg>;
	phy-names = "usb2-phy";
	maximum-speed = "high-speed";
	snps,dis_u2_susphy_quirk;
	snps,usb2-lpm-disable;
	status = "okay";
};

/* UART2 for Bluetooth (AIC8800D80) */
&uart2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart2m0_xfer &uart2m0_ctsn &uart2m0_rtsn>;
	dma-names = "!tx", "!rx";
};

/* Integrated 100Mbps Ethernet - uses built-in MACPHY from rk3528.dtsi */
&gmac0 {
	status = "okay";
	phy-mode = "rmii";
	clock_in_out = "input";
	tx_delay = <0x2e>;
	rx_delay = <0x11>;
	/* Ethernet PHY power supply */
	phy-supply = <&vcc_3v3_s3>;
};

&gmac1 {
	status = "disabled";
};

&pinctrl {
	usb {
		vcc5v0_host_en: vcc5v0-host-en {
			rockchip,pins = <0 RK_PA1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	hdmi {
		/* HDMI pinctrl - DDC and CEC pins */
		hdmi_pins: hdmi-pins {
			rockchip,pins =
				/* hdmi_tx_cec */
				<0 RK_PA3 1 &pcfg_pull_none>,
				/* hdmi_tx_scl */
				<0 RK_PA4 1 &pcfg_pull_none>,
				/* hdmi_tx_sda */
				<0 RK_PA5 1 &pcfg_pull_none>;
		};

		/* HDMI idle state - DDC and CEC pins */
		hdmi_pins_idle: hdmi-pins-idle {
			rockchip,pins =
				/* hdmi_tx_cec */
				<0 RK_PA3 1 &pcfg_pull_none>,
				/* hdmi_tx_scl */
				<0 RK_PA4 0 &pcfg_output_low_pull_down>,
				/* hdmi_tx_sda */
				<0 RK_PA5 0 &pcfg_output_low_pull_down>;
		};
	};

	wifi {
		/* Combined WiFi pinctrl moved to wifi_rtl8822cs section below */
	};

	bluetooth {
		/* Bluetooth GPIO configuration - reset and wake_host only */
		bt_pins: bt-pins {
			rockchip,pins =
				<3 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>,  /* BT reset (GPIO3_D2) */
				<3 RK_PD1 RK_FUNC_GPIO &pcfg_pull_down>;  /* BT wake_host (GPIO3_D1) */
		};

		/* Legacy nodes for compatibility */
		bt_reset: bt-reset {
			rockchip,pins = <3 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_wake_host: bt-wake-host {
			rockchip,pins = <3 RK_PD1 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		uart2m0_gpios: uart2m0-gpios {
			rockchip,pins = <3 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wifi_rtl8822cs {
		/* Combined pinctrl for WiFi */
		wifi_pins: wifi-pins {
			rockchip,pins =
				<3 10 RK_FUNC_GPIO &pcfg_pull_none>,  /* WiFi power enable (GPIO3 pin 10) */
				<3 12 RK_FUNC_GPIO &pcfg_pull_none>,  /* WiFi reset (GPIO3 pin 12) */
				<3 RK_PB3 RK_FUNC_GPIO &pcfg_pull_down>;   /* WiFi host_wake (GPIO3_PB3) */
		};
	};

	sdmmc {
		sdmmc_bus4: sdmmc-bus4 {
			rockchip,pins =
				/* sdmmc_d0 */
				<2 RK_PA0 1 &pcfg_pull_up_drv_level_2>,
				/* sdmmc_d1 */
				<2 RK_PA1 1 &pcfg_pull_up_drv_level_2>,
				/* sdmmc_d2 */
				<2 RK_PA2 1 &pcfg_pull_up_drv_level_2>,
				/* sdmmc_d3 */
				<2 RK_PA3 1 &pcfg_pull_up_drv_level_2>;
		};

		sdmmc_clk: sdmmc-clk {
			rockchip,pins =
				/* sdmmc_clk */
				<2 RK_PA5 1 &pcfg_pull_up_drv_level_2>;
		};

		sdmmc_cmd: sdmmc-cmd {
			rockchip,pins =
				/* sdmmc_cmd */
				<2 RK_PA4 1 &pcfg_pull_up_drv_level_2>;
		};
	};

	sdio1 {
		sdio1_bus4: sdio1-bus4 {
			rockchip,pins =
				/* sdio1_d0 */
				<3 RK_PA6 1 &pcfg_pull_up_drv_level_2>,
				/* sdio1_d1 */
				<3 RK_PA7 1 &pcfg_pull_up_drv_level_2>,
				/* sdio1_d2 */
				<3 RK_PB0 1 &pcfg_pull_up_drv_level_2>,
				/* sdio1_d3 */
				<3 RK_PB1 1 &pcfg_pull_up_drv_level_2>;
		};

		sdio1_clk: sdio1-clk {
			rockchip,pins =
				/* sdio1_clk */
				<3 RK_PA4 1 &pcfg_pull_up_drv_level_2>;
		};

		sdio1_cmd: sdio1-cmd {
			rockchip,pins =
				/* sdio1_cmd */
				<3 RK_PA5 1 &pcfg_pull_up_drv_level_2>;
		};
	};

};
