// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Armbian
 * Device Tree for X98K RK3528A TV Box
 *
 * Hardware:
 * - SoC: Rockchip RK3528A (quad-core Cortex-A53, 4GB DDR4)
 * - Ethernet: Motorcomm YT8531 PHY (RMII mode, 100Mbps)
 * - WiFi/BT: AIC8800 SDIO (requires out-of-tree driver)
 * - Storage: 32GB eMMC + SD card slot
 * - USB: USB 2.0 x2 + USB 3.0 x1 (2.0 speed only)
 * - Audio: HDMI, S/PDIF optical output
 * - Display: HDMI up to 1080p
 * - IR: PWM3-based receiver (disabled, GPIO conflict)
 */

/dts-v1/;

#include <dt-bindings/clock/rk3528-cru.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include "rk3528.dtsi"
#include "rk3528-linux.dtsi"

/ {
	model = "X98K RK3528 TV Box";
	compatible = "rockchip,x98k", "rockchip,rk3528";

	aliases {
		ethernet0 = &gmac0;
		mmc0 = &sdmmc;    /* SD card - like working f7cb62724 */
		mmc1 = &sdhci;    /* eMMC */
		sdio0 = &sdio0;   /* WiFi */
 		serial2 = &uart2;
	};

	chosen: chosen {
		bootargs = ""; /* Clear any inherited hardcoded bootargs */
	};

	ext_clock: ext-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc_3v3: vcc-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_1v8: vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_3v3>;
	};

	vdd_0v9_s3: vdd-0v9-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_0v9_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vcc5v0_sys>;
	};

	/* SD Card dedicated power supply - prevents kernel from disabling SD power */
	vcc_sd: vcc-sd {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpio = <&gpio4 RK_PA1 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd_pwr_en>;
		vin-supply = <&vcc_3v3>;
	};

	/* SD Card I/O voltage - fixed 3.3V for non-UHS mode */
	vccio_sd: vccio-sd {
		compatible = "regulator-fixed";
		regulator-name = "vccio_sd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_3v3>;
	};

	vcc5v0_otg: vcc5v0-otg-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_otg";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_otg_en>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_phy: vcc-phy-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_phy";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_3v3>;
	};

	/* FD628 LED Display Controller (7-segment display) */
	fd628_dev: fd628-dev {
		compatible = "amlogic,fd628_dev";
		fd628_gpio_clk = <&gpio4 RK_PA3 GPIO_ACTIVE_HIGH>;
		fd628_gpio_dat = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	vdd_logic: vdd-logic {
		compatible = "pwm-regulator";
		pwms = <&pwm2 0 5000 1>;
		regulator-name = "vdd_logic";
		regulator-min-microvolt = <705000>;
		regulator-max-microvolt = <1006000>;
		regulator-init-microvolt = <900000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-settling-time-up-us = <250>;
		pwm-supply = <&vcc5v0_sys>;
		status = "okay";
	};

	vdd_cpu: vdd-cpu {
		compatible = "pwm-regulator";
		pwms = <&pwm1 0 5000 1>;
		regulator-name = "vdd_cpu";
		regulator-min-microvolt = <746000>;
		regulator-max-microvolt = <1201000>;
		regulator-init-microvolt = <953000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-settling-time-up-us = <250>;
		pwm-supply = <&vcc5v0_sys>;
		status = "okay";
	};

	vdd_gpu: vdd-gpu {
		compatible = "pwm-regulator";
		pwms = <&pwm0 0 5000 1>;
		regulator-name = "vdd_gpu";
		regulator-min-microvolt = <705000>;
		regulator-max-microvolt = <1148000>;
		regulator-init-microvolt = <900000>;
		regulator-always-on;
		regulator-boot-on;
		regulator-settling-time-up-us = <250>;
		pwm-supply = <&vcc5v0_sys>;
		status = "okay";
	};

/* Bluetooth - AIC8800 (use UART2 MUX1 to avoid GPIO conflicts) */
wireless_bluetooth: wireless-bluetooth {
	compatible = "bluetooth-platdata";
	clocks = <&ext_clock>;
	clock-names = "ext_clock";
	BT,reset_gpio = <&gpio1 RK_PC1 GPIO_ACTIVE_LOW>;      /* GPIO3_PC1 */
	BT,wake_gpio = <&gpio1 RK_PB4 GPIO_ACTIVE_HIGH>;      /* GPIO3_PB4 */
	BT,wake_host_irq = <&gpio1 RK_PC2 GPIO_ACTIVE_HIGH>;  /* GPIO3_PC2 */
	status = "okay";
};

	/* PWM Power LED - confirmed from Android */
	pwmleds {
		compatible = "pwm-leds";
		status = "okay";

		power_led: led-power {
			label = "led:breath:power";
			pwms = <&pwm7 0 1000000 0>;
			max-brightness = <255>;
			default-state = "on";
			linux,default-trigger = "default-on";
		};
	};

	/* GPIO Status LED - confirmed from Android (GPIO4_PB3) */
	gpio-leds {
		compatible = "gpio-leds";
		status = "okay";

		red_led: led-red {
			label = "red";
			gpios = <&gpio4 RK_PB3 GPIO_ACTIVE_HIGH>;
			default-state = "off";
			linux,default-trigger = "heartbeat";
		};
	};

	/* AIC8800 WiFi/BT power sequence */
	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h &wifi_32k>;
		clocks = <&ext_clock>;
		clock-names = "ext_clock";
		post-power-on-delay-ms = <200>;
		power-off-delay-us = <500000>;
		reset-gpios = <&gpio1 RK_PA7 GPIO_ACTIVE_LOW>;  /* GPIO1_PA7 */
	};

	/* ADC Keys */
	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		status = "okay";

		volumeup-key {
			label = "volume up";
			linux,code = <KEY_VOLUMEUP>;
			press-threshold-microvolt = <9>;
		};
	};

	/* HDMI Sound */
	hdmi_sound: hdmi-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <128>;
		simple-audio-card,name = "rockchip-hdmi0";
		status = "okay";

		simple-audio-card,cpu {
			sound-dai = <&sai3>;
		};

		simple-audio-card,codec {
			sound-dai = <&hdmi>;
		};
	};

	/* IR Receiver - PWM3-based (GPIO4_PB6) from Android */
	ir-receiver {
		compatible = "gpio-ir-receiver";
		gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&ir_recv_pin>;
		linux,rc-map-name = "rc-beelink-gs1";
		status = "disabled"; /* Disabled: GPIO conflicts with PWM3, needs rockchip,remotectl-pwm */
	};

	/* S/PDIF Optical Audio */
	spdif_sound: spdif-sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "ROCKCHIP,SPDIF";
		simple-audio-card,mclk-fs = <128>;
		status = "okay";

		simple-audio-card,cpu {
			sound-dai = <&spdif_8ch>;
		};

		simple-audio-card,codec {
			sound-dai = <&spdif_out>;
		};
	};

	/* Internal Analog Audio Codec (for 3.5mm output if present) */
	acodec_sound: acodec-sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "rk3528-acodec";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;
		status = "okay";

		simple-audio-card,cpu {
			sound-dai = <&sai2>;
		};

		simple-audio-card,codec {
			sound-dai = <&acodec>;
		};
	};

	spdif_out: spdif-out {
		compatible = "linux,spdif-dit";
		#sound-dai-cells = <0>;
	};

	/* Rockchip Suspend Configuration */
	rockchip_suspend: rockchip-suspend {
		compatible = "rockchip,pm-rk3528";
		status = "okay";
		rockchip,sleep-debug-en = <1>;
		rockchip,sleep-mode-config = <1>;
		rockchip,wakeup-config = <0x11>;
		rockchip,virtual-poweroff = <1>;
		rockchip,pwm-regulator-config = <3>;
	};

	/* System Monitor for Thermal Protection */
	rockchip_system_monitor: rockchip-system-monitor {
		compatible = "rockchip,system-monitor";
		rockchip,thermal-zone = "soc-thermal";
		rockchip,polling-delay = <200>;
		rockchip,temp-hysteresis = <5000>;
		rockchip,offline-cpu-temp = <105000>;  /* 105°C - offline CPU 2-3 when hot */
		rockchip,temp-offline-cpus = "2-3";
	};
};

/* Ethernet - YT8531 PHY confirmed via Android (RMII mode, MDIO addr 2) */
&gmac0 {
	phy-mode = "rmii";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 10000 50000>;

	phy-supply = <&vcc_phy>;
	phy-handle = <&rmii_phy>;
	status = "okay";
};

&mdio0 {
	#address-cells = <1>;
	#size-cells = <0>;

	rmii_phy: ethernet-phy@2 {
		compatible = "ethernet-phy-id4f51.e91b", "ethernet-phy-ieee802.3-c22";
		reg = <0x2>;
	};
};

/* PWM nodes for voltage scaling */
&pwm0 {
	status = "okay";
};

&pwm1 {
	status = "okay";
};

&pwm2 {
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vdd_cpu>;
};

&dmc {
	center-supply = <&vdd_logic>;
	status = "okay";
};

&gpu {
	mali-supply = <&vdd_gpu>;
	status = "okay";
};

&gpu_bus {
	bus-supply = <&vdd_logic>;
	status = "okay";
};

/* eMMC */
&sdhci {
	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	non-removable;
	max-frequency = <200000000>;
	no-sd;
	no-sdio;
	status = "okay";
};

/* SD Card - conservative configuration without UHS modes */
&sdmmc {
	bus-width = <4>;
	cap-sd-highspeed;
	disable-wp;
	no-sdio;
	no-mmc;
	max-frequency = <50000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_clk &sdmmc_cmd &sdmmc_bus4>;
	vmmc-supply = <&vcc_sd>;
	vqmmc-supply = <&vccio_sd>;
	status = "okay";
};

/* USB 2.0 Host */
&u2phy_host {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

/* USB 3.0 Port (USB 2.0 speed only - RK3528 has no USB 3.0 PHY) */
&usb2phy {
	status = "okay";
};

&u2phy_otg {
	status = "okay";
};

&usbdrd_dwc3 {
	dr_mode = "host";
	phys = <&u2phy_otg>;
	phy-names = "usb2-phy";
	maximum-speed = "high-speed";
	snps,dis_u2_susphy_quirk;
	snps,usb2-lpm-disable;
	snps,dis-u2-freeclk-exists-quirk;
	snps,dis-del-phy-power-chg-quirk;
	snps,dis-tx-ipgap-linecheck-quirk;
	vbus-supply = <&vcc5v0_otg>;
	status = "okay";
};

&usbdrd30 {
	status = "okay";
};

/* HDMI */
&hdmi {
	status = "okay";
	cec-enable;
	/* DDC I2C timing from Android (asymmetric for EDID compatibility) */
	ddc-i2c-scl-high-time-ns = <9625>;
	ddc-i2c-scl-low-time-ns = <10000>;
	avdd-0v9-supply = <&vdd_0v9_s3>;
	avdd-1v8-supply = <&vcc_1v8>;
	hpd-gpios = <&gpio0 RK_PA2 GPIO_ACTIVE_HIGH>;
	pinctrl-names = "default";
	pinctrl-0 = <&hdmi_pins>;
};

&hdmiphy {
	status = "okay";
	phy-supply = <&vcc5v0_sys>;
};


&hdmi_in_vp0 {
	status = "okay";
	connect = <&vp0_out_hdmi>;
};

/* Display Subsystem */
&display_subsystem {
	status = "okay";
};

&vop {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};


/* GPU */
&gpu {
	status = "okay";
};

/* Hardware Video Processing Units */
&iep {
	status = "okay";
};

&iep_mmu {
	status = "okay";
};

&jpegd {
	status = "okay";
};

&jpegd_mmu {
	status = "okay";
};

&mpp_srv {
	status = "okay";
};

&rga2 {
	status = "okay";
};

&rga2_mmu {
	status = "okay";
};

&rkvdec {
	status = "okay";
};

&rkvdec_mmu {
	status = "okay";
};

&rkvenc {
	status = "okay";
};

&rkvenc_mmu {
	status = "okay";
};

&rkvtunnel {
	status = "okay";
};

&vdpp {
	status = "okay";
};

&vdpu {
	status = "okay";
};

&vdpu_mmu {
	status = "okay";
};

/* Thermal monitoring */
&tsadc {
	status = "okay";
};

/* UART2 for Bluetooth (AIC8800) */
/* UART2 for Bluetooth - use MUX1 to avoid GPIO conflicts with wireless-bluetooth node */
&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2m1_xfer &uart2m1_ctsn &uart2m1_rtsn>;
	uart-has-rtscts;
	status = "okay";
};

/* SARADC */
&saradc {
	vref-supply = <&vcc_1v8>;
	status = "okay";
};

/* PWM3 - Used for IR receiver in Android, disabled for now */
&pwm3 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&pwm3_pins>;
};

&pwm7 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pwm7_pins>;
};

/* SDIO for WiFi (AIC8800) */
/* SDIO for WiFi - AIC8800 at ffc30000 */
&sdio0 {
	bus-width = <4>;
	cap-sd-highspeed;
	cap-sdio-irq;
	disable-wp;
	keep-power-in-suspend;
	max-frequency = <25000000>;  /* 25MHz for initial test - reduce clock speed */
	mmc-pwrseq = <&sdio_pwrseq>;
	no-sd;
	no-mmc;
	non-removable;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	pinctrl-names = "default";
	pinctrl-0 = <&sdio0_bus4 &sdio0_cmd &sdio0_clk>;
	status = "okay";
};

/* S/PDIF for Optical Audio */
/* SAI2 Audio Interface for Analog Codec */
&sai2 {
	status = "okay";
	#sound-dai-cells = <0>;
};

/* Analog Audio Codec */
&acodec {
	status = "okay";
	#sound-dai-cells = <0>;
};

&spdif_8ch {
	status = "okay";
	pinctrl-0 = <&spdifm0_pins>;
	#sound-dai-cells = <0>;
};

/* Pinctrl */
&pinctrl {
	usb {
		vcc5v0_otg_en: vcc5v0-otg-en {
			rockchip,pins = <4 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless-wlan {
		wifi_host_wake: wifi-host-wake-irq {
			rockchip,pins = <1 RK_PA6 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	hdmi {
		hdmi_pins: hdmi-pins {
			rockchip,pins =
				<0 RK_PA3 1 &pcfg_pull_none>,  /* CEC */
				<0 RK_PA4 1 &pcfg_pull_up>,    /* DDC SDA */
				<0 RK_PA5 1 &pcfg_pull_up>;    /* DDC SCL */
		};
	};

	sdcard {
		sd_pwr_en: sd-pwr-en {
			rockchip,pins = <4 RK_PA1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <1 RK_PA7 RK_FUNC_GPIO &pcfg_output_low_pull_none>;
		};

		wifi_32k: wifi-32k {
			rockchip,pins = <1 RK_PC3 1 &pcfg_pull_none>;
		};
	};

	pwm {
		pwm3_pins: pwm3-pins {
			rockchip,pins = <4 RK_PB6 1 &pcfg_pull_none>;
		};

		pwm7_pins: pwm7-pins {
			rockchip,pins = <3 RK_PC4 3 &pcfg_pull_none>;
		};
	};

	spdif {
		spdifm0_pins: spdifm0-pins {
			rockchip,pins = <4 RK_PA0 1 &pcfg_pull_none>;
		};
	};

	leds {
		red_led_pin: red-led-pin {
			rockchip,pins = <4 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	ir {
		ir_recv_pin: ir-recv-pin {
			rockchip,pins = <3 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

};

/* I2S Audio Interface for HDMI */
&sai3 {
	status = "okay";
	#sound-dai-cells = <0>;
};

/* Override reserved-memory for display framebuffer - 12MB at 0xf9f00000 (from Android) */
&drm_logo {
	reg = <0x0 0xf9f00000 0x0 0xc00000>;
};