// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2024 Armbian
 */

/dts-v1/;

#include "sun50i-h616.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	model = "H20 Pro 5G";
	compatible = "hechuang,h20-pro-5g\0allwinner,sun50i-h616";

	aliases {
		serial0 = &uart0;
		ethernet0 = &emac1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&sdc0_pins>;
	bus-width = <4>;
	cd-gpios = <&pio 8 16 GPIO_ACTIVE_HIGH>;
	cd-inverted;
	no-mmc;
	no-sdio;
	status = "okay";
};

&mmc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&sdc2_pins>;
	bus-width = <8>;
	cap-mmc-highspeed;
	cap-cmd23;
	cap-erase;
	mmc-cache-ctrl;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	no-sd;
	no-sdio;
	non-removable;
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins>;
	status = "okay";
};

&emac1 {
	phy-mode = "rmii";
	status = "okay";
};

&r_i2c {
	status = "okay";

	axp1530: pmic@36 {
		compatible = "x-powers,axp1530";
		reg = <0x36>;
		wakeup-source;

		regulators {
			reg_dcdc1: dcdc1 {
				regulator-always-on;
				regulator-min-microvolt = <1160000>;
				regulator-max-microvolt = <1160000>;
				regulator-name = "vdd-cpu";
			};

			reg_dcdc2: dcdc2 {
				regulator-always-on;
				regulator-min-microvolt = <1160000>;
				regulator-max-microvolt = <1160000>;
				regulator-name = "vdd-gpu-sys";
			};

			reg_dcdc3: dcdc3 {
				regulator-always-on;
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-name = "vdd-dram";
			};

			reg_aldo1: ldo1 {
				regulator-always-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc-sys";
			};

			reg_dldo2: ldo2 {
				regulator-always-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc3v3-ext";
			};
		};
	};
};
