// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2024 Armbian
 */

/dts-v1/;

#include "sun50i-h616.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	model = "H20 Pro 5G";
	compatible = "hechuang,h20-pro-5g\0allwinner,sun50i-h616";

	aliases {
		serial0 = &uart0;
		ethernet0 = &emac1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reg_dldo2: regulator-dldo2 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3-ext";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};
};

&mmc0 {
	vmmc-supply = <&reg_dldo2>;
	vqmmc-supply = <&reg_dldo2>;
	status = "okay";
};

&mmc2 {
	vmmc-supply = <&reg_dldo2>;
	vqmmc-supply = <&reg_dldo2>;
	status = "okay";
};

&uart0 {
	status = "okay";
};

&emac1 {
	phy-mode = "rmii";
	status = "okay";
};

&r_i2c {
	status = "okay";

	axp1530: pmic@36 {
		compatible = "x-powers,axp1530", "x-powers,axp152";
		reg = <0x36>;
		wakeup-source;
	};
};
